* {
    padding: 0;
    margin: 0;  
}
body {
    width: 80%;
    margin: 0 auto;
}
header {
    position: absolute;
    width: 1280px;
    height: 36px;
    left: 80px;
    top: 70px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 28px;
}
a {
    padding: 25px 25px 25px 25px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.main-logo {
    position: absolute;
    width: 198px;
    height: 36px;
    left: 80px;
    top: 0;
}
.pink {
    color: #FF3998;
}   
.hero-section {
    position: absolute;
    width: 1120px;
    height: 519px;
    left: 80px;
    top: 288px;
}
img.NFT {
    position: absolute;
    width: 635px;
    height: 800px;
    left: 700px;
    bottom: 10px;
    
}
.hero-class {
    max-width: 50%;
    height: auto;
}


